.container {
    width: 1440px;
    padding: 10px;
    background-color: #fff;
  }

  .category-tag{
    background-color: #849474;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    margin-bottom: 5px,

  }