.card {
    display: flex;
    width: 316px;
    min-width: 316px;
    padding: 15px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;
}

.cardBodyArea {
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    line-height: normal;
}

.cardBodyName {
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    line-height: normal;
}

.cardBodyPrice {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    line-height: normal;
}

.lectureName {
    display: -webkit-box;
    width: 225px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--primary-5, #2f4715);
    text-overflow: ellipsis;
    /* ZenKaku-h5 */
    font-family: 'Zen Kaku Gothic New';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lectureText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: var(--grey-700, #6b6b6b);
    text-overflow: ellipsis;
    /* ZenKaku-h5 */
    font-family: 'Zen Kaku Gothic New';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}
.priceText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    color: var(--grey-700, #6b6b6b);
    text-overflow: ellipsis;
    /* ZenKaku-h5 */
    font-family: 'Zen Kaku Gothic New';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
}
.img{
    width: 20px;
    height: 23px;
}