.lectureSliderBig {
  margin-bottom: 10px;
  width: 700px;
  height: 525px;
}

.lectureSlider {
  width: 700px;
  height: 127px;
}

.wrap-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 2px solid var(--grey-500, #A9A6A6);
}

@media (max-width: 752px) {
  .lectureSliderBig {
    width: 406px;
    height: 305px;
  }

  .lectureSlider {
    width: 406px;
    height: 71px;
  }
}